<nav class="bg-gray-900 text-white h-full p-4">
  <ul>
    <li class="mb-4"><a routerLink="/dashboard" routerLinkActive="font-bold">Dashboard</a></li>
    <li class="mb-4"><a routerLink="/pomodoro" routerLinkActive="font-bold">Pomodoro</a></li>
    <li class="mb-4"><a routerLink="/todo" routerLinkActive="font-bold">Todo</a></li>
    <li class="mb-4"><a routerLink="/kanban" routerLinkActive="font-bold">Kanban</a></li>
    <!-- Adicione mais links para outras páginas conforme necessário -->
  </ul>
</nav>
